 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
   background-color: rgb(23, 3, 94);
   color: aliceblue;
}   


.header{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display:flex;
    justify-content: space-between;
    align-items: 100px;
}

.logo{
    font-size: 25px;
    color:rgb(235, 234, 236);
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    font-size: 20px;
    color: rgb(226, 226, 233);
    text-decoration:none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(10, 191, 247);
}

.home {
    height:100cqh;
    display:flex;
    align-items: center;
    padding: 0 10%;

}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 600;
    color: rgba(9, 155, 252, 0.897);
    line-height: 1.2;
}

.home-content h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(150, 150, 219);
}

.home-content p {
font-size: 16px;
margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box  a {
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: rgb(9, 209, 245); 
    border: 2px solid rgb(20, 168, 226); 
    border-radius: 8px;
    font-size: 19px;
    color: rgb(1, 24, 16);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1 ;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background:transparent;
    color: rgb(10, 72, 243);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff; 
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;

}



.about {
    padding-left: 50px;
    padding-right: 60px;
    justify-content: space-between;
}
.about h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-wrap:pretty;
    display: flex;
}

.about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-wrap:pretty;
    display: flex;
}

.about a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-wrap:pretty;
    display: flex;
    font-size: 50px;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(9, 91, 243);
    border-radius: 50%;
    background-color: rgb(231, 224, 226);
    text-decoration: none;
}

.skills {
    padding-left: 50px;
    padding-right: 60px;
    justify-content: space-between;
}

.work-experience {
    padding-left: 50px;
    padding-right: 60px;
    justify-content: space-between;
}

.contact {
    padding-left: 50px;
    padding-right: 60px;
    justify-content: space-between;
}




